/* html, body {
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  color: white;
} */

body, html {
  height: 100%;
  margin: 0;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  min-height: 200px;
  padding: 20px;
  background-color: #2389a5;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
  margin: auto;
} */

.App {
  text-align: center;
  background-color: #1aa8cf;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* button {
  background-color: #282c34;
  color: #61dafb;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
}

input[type="number"] {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
} */

button {
  background-color: #282c34;
  color: #349ded;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
}

/* p {
  background-color: #6493f2;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  max-height: 200px;
} */

p {
  background-color: #282c34;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  max-height: 200px;
}

span {
  color: rgb(12, 15, 2);
  font-weight: 1400;
  font-size: larger;
}